@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #888;
}

.container {
	margin: 0 auto;
}

.hero {
	background: url(https://images.pexels.com/photos/3961066/pexels-photo-3961066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
		no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero .container {
	text-align: center;
	color: #fff;
	z-index: 2;
}

.container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.hero h1 {
	margin: 10px 0;
	letter-spacing: 1.5px;
}

.content h1,
.content h3 {
	margin: 20px 0;
}
